@import 'reset.css';

html {
  background: url(/images/coffee-sunset.jpeg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.see-thru-nav {
  background-color: rgba(0, 0, 0, .65);
  border-bottom: thin solid black;
}

.epic-slogan {
  padding: 380px 0 380px 30px;
  color: #fff;
  text-align: center;
}

.login-box {
  background-color: rgba(255, 255, 255, .8);
  padding: 30px;
}
